{% extends 'todo/base.html' %}

{% block content %}

  
   <div class="container">
     <div class="row">
       <div class="col-md-6 mx-auto mt-5">
         <h4 class="mb-3 pl-3 h-lg">
           Completed Todos
         </h4>
         <div class="card">
            {% for todo in todos %}
              <ul class="list-group list-group-flush">
              {% if todo.important %}
                <li class="list-group-item bg-completed">
                  <a class="card-link todo-link" href="{% url 'completed' %}">
                      <!--  if there is an important tag -->
                        <h4 class="card-title"> 
                          {{ todo.title }}-<small>completed {{ todo.datecompleted|date:"d M Y" }} {{ todo.datecompleted|time:"H:i" }}</small>
                        </h4>
                        
                  </a>
        
                </li>
              {% else %}
                <li class="list-group-item"> 
                    <h4 class="card-title"> 
                       {{ todo.title }}- <small> completed {{ todo.datecompleted|date:"d M Y" }} {{ todo.datecompleted|time:"H:i" }} </small>
                    </h4> 
                  </li>
              {% endif %}
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
